@charset "UTF-8";

@font-face {
    font-family: 'IndieFlower';
    src: url('../fonts/IndieFlower-Regular.ttf') format(truetype);
}

:root {
    --cor1: #0ACDD2;
    --cor2: #09B2B8;
    --cor3: #078085;
    --cor4: #246466;
    --cor5: #033638;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-indieFlower: 'IndieFlower', Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

body {
    font-family: var(--fonte-padrao);
    margin: 0px;
    padding: 0px;
}

div.head {
    position: sticky;
    top: 0;
    height: 55px;
    background-color: var(--cor3);
    border-bottom: 3px solid var(--cor5);
    display: flex;
    padding: 5px 10px;
}

div.head>h1 {
    font-family: var(--fonte-indieFlower);
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 8px auto;
}

div.noctua {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #d44040;
    text-align: center;
    padding: 3px;
    box-sizing: border-box;
}

div.noctua img {
    height: 45px;
}

div#content {
    margin: 5px 10px;
}

.cor1 {
    background-color: var(--cor1);
}

.cor2 {
    background-color: var(--cor2);
}

.cor3 {
    background-color: var(--cor3);
}

.cor4 {
    background-color: var(--cor4);
}

.cor5 {
    background-color: var(--cor5);
}

a {
    text-decoration: none;
    color: var(--cor2);
}

a:hover {
    color: var(--cor3);
}

.titulo {
    color: var(--cor1);
    background-color: var(--cor5);
    padding: 2px 5px;
    border-radius: 8px;
}

.subtitulo {
    color: var(--cor4);
    background-color: var(--cor1);
    padding: 2px 5px;
    border-radius: 8px;
}

p {
    text-align: justify;
}

.principal {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(38, 26, 11, 0.400);
    width: 70%;
    padding: 10px;
    margin: 8px auto;
}

/* table {
    width: 80%;
    font-size: 20px;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: auto;
}

caption {
    background-color: darkorange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
}

tbody tr:nth-of-type(odd) {
    background-color: #e1e1e1;
}

thead th {
    background-color: darkslategrey;
    color: white;
}

td,
th {
    padding: 1em;
    border: 1px solid black;
}

td.real {
    text-align: right;
    border: 1px solid black;
}

td.real::before {
    content: 'R$';
}

tfoot tr {
    text-align: center;
    background-color: #333;
    color: #fff;
} */