@charset "UTF-8";

/* Todas as demais mídias */

/*
Tipical Device Brackpoints
--------------------------
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Desktop: de 992px até 1200px
Grandes Telas: acima de 1200px
*/

/* TABLET */
@media screen and (min-width: 768px) {

    div#img-menu {
        display: none;
    }

    menu>ul {
        background-color: rgb(65, 236, 65);
    }

    menu>ul>li {
        display: inline-block;
        padding: 2px;
        margin: 5px;
    }

    menu>ul>li>a {
        color: white;
        text-align: center;
        border-radius: 6px;
    }

    menu>ul>li>a:hover {
        background-color: rgb(128, 68, 68);
    }

    main {
        width: 600px;
    }

    article>h2::after {
        content: 'em Telas Maiores';
    }
}

/* IMPRESSÃO */
@media print {
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    header {
        background-color: rgb(241, 239, 239);
    }

    header h1 {
        text-shadow: none;
        color: black;
        padding: 10px;
        text-align: center;
    }

    header>div#img-menu {
        display: none;
    }

    h2 {
        font-size: 1.5em;
        color: brown;
        text-align: center;
        margin: 10px 0 0 0;
    }

    h2::after {
        content: 'Impressora';
    }

    article>h2::after {
        content: 'em Impressoras';
    }
}